<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">

    <title>Reda</title>
    
  </head>

    <ul>
      <li class=hover-underline-animation><a href="">News</a></li>
      <li class=hover-underline-animation><a href="">Contact</a></li>
      <li class=hover-underline-animation><a href="">About</a></li>
      <li class=hover-underline-animation><a href="">Home</a></li>
    </ul>

          <!-- <img src="../static/images/image.png" class="float-right" width="60" height="60" style="padding: 10px;">   -->

    <div class="container text-white">
      <!-- <img src="../static/images/image.png" class="float-left" width="60" height="60" style="padding: 10px;"> -->  
        <h1>Reda Mansy</h1>
    </div>

    <div class="container">
    <p> I'm an Assistant Professor (Lecturer) in the School of Computer Science & Informatics at Cardiff University working on human computer interaction (HCI) and multisensory perception in Virtual Reality with the Complex Systems group. If you are interested in doing a PhD, MRes, or other postgraduate research degree with me, please read this page.

      I work on many different projects, and you can see my published work here. I earned my EngD in Digital Media from Bath, and before this I received my BSc in Computer Science from UCD. I'm always happy to meet new people, and am open to collaboration opportunities on projects involving HCI, perception, cognition, virtual reality, machine learning, software engineering, game design & development, and more generally the cultural impact of games. I'm co-director of Echo Games, a community interest company (not-for-profit) developing games and experiences with an emphasis on social change I founded with Daniela De Angeli and Lee Scott. We're always looking for new clients keen on exploring how games can be used to engage audiences beyond entertainment. You can contact me by sending me a message on most social media channels by using the links to the right. We can chat science over on Twitter.

      Here's a video reel of recent projects I've supervised/led which you may find interesting/useful to learn more about the kinds of things I do. </p>
    </div>



    
  </body>

</html>