<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Reda</title>
    
  </head>

  <body>
    <nav class=navbar>

    <ul>
      <li class=hover-underline-animation><a href="#home">Home</a></li>
      <li class=hover-underline-animation><a href="#projects">Projects</a></li>
      <li class=hover-underline-animation><a href="#cv">CV</a></li>
      <li class=hover-underline-animation><a href="#contact">Contact</a></li>
      <li class=hover-underline-animation><a href="{{ url_for('blog.blog') }}">Blog</a></li>
    </ul>

          <!-- <img src="../static/images/image.png" class="float-right" width="60" height="60" style="padding: 10px;">   -->
    </nav>

    <div class="everything">
    <section id="home">
    <div class="container text-white">
      <!-- <img src="../static/images/image.png" class="float-left" width="60" height="60" style="padding: 10px;"> -->  
        <h1>Reda Mansy</h1>
        <hr>
        <p>Test </p>
    </div>
  </section>

  <section id="projects">
    <div class="container text-white">
      <!-- <img src="../static/images/image.png" class="float-left" width="60" height="60" style="padding: 10px;"> -->  
        <h1>Projects</h1>
        <hr>
        <p> The man can't do shit </p>
    </div>
  </section>
</section>
<section id="cv">
  <div class="container text-white">
    <!-- <img src="../static/images/image.png" class="float-left" width="60" height="60" style="padding: 10px;"> -->  
      <h1>Resume</h1>
      <hr>
      <p> The man's an idiot </p>
  </div>
</section>
  <section id="contact">
    <div class="container text-white">
      <!-- <img src="../static/images/image.png" class="float-left" width="60" height="60" style="padding: 10px;"> -->  
        <h1>Contact</h1>
        <hr>
        <p>Have a question or want to work together?</p><br>  
        <form method="POST" action="{{url_for('index.home')}}">
          <label for="fname"></label>
          <input type="text" id="fname" placeholder="Name" name="fname"><br>
          <label for="email"></label>
          <input type="text" id="email" placeholder="Email" name="email"><br>
          <label for="message"></label>
          <!-- <input type="text" class="messagebox" id="message" placeholder="Your Message" name="message"><br> -->

          <textarea placeholder="Your Message" type="text" name="message"></textarea>
        </form>
        <button type="submit">SUBMIT</button>
    </div>

    

    <div class="footer">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-youtube"></a>
    </div>

</div>


    
  </body>

</html>