<!DOCTYPE html>
{% block content %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Post</title>
</head>
<body>
  
  <form method="POST" action="">
    
    {{ form.title.label }} 
    {{ form.title }}

    {{ form.content.label }} 
    {{ form.content }}
    
    {{ form.submit }}

  </form>

  {{  ckeditor.load() }}
  {{  ckeditor.config(name="content") }}
  {{  ckeditor.config(name="title") }}

</body>

{% endblock content %}